@model MotorcycleStore.Models.Motorcycle

<h2>Сигурни ли сте, че искате да изтриете:</h2>
<h3>@Model.Brand @Model.Model</h3>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Да, изтрий</button>
    <a asp-action="Index">Отказ</a>
</form>
