@{
    ViewData["Title"] = "Контакти";
}

<h2>Контакти</h2>

<p>Адрес: ул. Мото 123, София, България</p>
<p>Телефон: +359 88 123 4567</p>
<p>Имейл: info@motorcyclestore.bg</p>
<p>Работно време: Понеделник - Петък, 09:00 - 18:00</p>
